.idea/compiler.xml
.idea/vcs.xml
.idea/gradle.xml
.idea/misc.xml
.idea/encodings.xml
.idea/modules.xml
.idea/jarRepositories.xml
.idea/dataSources*.xml
.idea/.name
.idea/.gitignore
.idea/libraries/
.idea/modules/
.idea/httpRequests/
.idea/dataSources/

.idea/workspace.xml
.idea/shelf/
.idea/dictionaries/*
!.idea/dictionaries/default.xml
.idea/uiDesigner.xml
.idea/inspectionProfiles/

*.iml
desktop.ini
.gradle
.kotlintest
local.properties
build/
out/
